# <!-- app/views/audit_history_mailer/audit_summary.html.erb -->
# <h2>Hello <%= @stakeholder_name %>,</h2>
# <p>Please note that the audit has been completed and here is the audit summary:</p>

# <table>
#   <thead>
#     <tr>
#       <th>Field Name</th>
#       <th>Old Value</th>
#       <th>New Value</th>
#     </tr>
#   </thead>
#   <tbody>
#     <%= @audit_history_row %>
#   </tbody>
# </table>

# <p>Thanks and Regards,</p>
# <p>Promact Infotech Pvt Ltd</p>
